.card-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, 225px);
    justify-content: space-between;
    gap: 48px;
    width: 100%;
    margin: 0 auto;
    margin-bottom: 48px;
}

@media (max-width: 620px) {
    .card-list {
        justify-content: center;
    }
}